html{
    box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
.container{
    margin: 0;
}
ul {
    list-style-type: none;
    overflow: hidden;
    position:relative;
    width:auto;
    padding:0px;
    text-align: center;
}
li{
    float:left;
    position:relative;
}
.nav-bar{
    width:100%;
    color:white;
    list-style-type: none;
    text-align: center;
    overflow: hidden;
    position:fixed;
    z-index: 1;
    display:flex;
    flex-flow:row wrap;
    justify-content: center;
    padding-left:0px;
    left:0px; 
    right:0px;
}
.nav-button{
    color:white;
    padding: 1em 3em;
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
}
#homepage .nav-bar ul li a:hover{
    background-color: lightblue;
    color:black;
}
#homepage{
    background-color: black;
    display: flex;
    min-height: 98vh;
}
#mainheader{
    color: white;
    flex-direction: column;
    align-items: center;
    text-align: right;
}
#homepageheader{
    position:absolute;
    top:50%;
    right:.5em;
    transform: translateY(-50%);
    font-size: 3.4em;
}
.arrows {
	width: 60px;
	height: 72px;
	position: absolute;
	left: 50%;
	bottom:7.5%;
    transform: translateX(-50%);
}

.arrows path {
	stroke: white;
	fill: transparent;
	stroke-width: 1px;	
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari 和 Chrome */
}

#Aboutme{
    background-color: silver;
    display: flex;
    min-height: 98vh;

}
#Aboutme .container{
    flex-flow:row wrap;
    justify-content: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
}
#aboutwords{
    width:50%;
    flex-flow:row wrap;
    justify-content: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    margin-right:60px;
}
#aboutheader{
    width:auto;
    height:20px;
    color: black;
    text-align: center;
    position:relative;
    margin-top:100px;
}

#aboutheader h1{
    font-size: 2.5em;
}
#aboutcontent{
    text-align: left;
    color:black;
    width:80%;
}
#aboutcontent p{
    padding:1em;
}
#aboutimage{
    margin-top:150px;
    margin-left:80px;
    z-index: 0;

}
#selfie{
    width:20em;
    height:28em;
}
#Projects{
    background-color: dimgray;
    display: flex;
    flex-flow:column wrap;
    justify-content: space-around;
    min-height: 98vh;

}
#projectheader{
    width:100%;
    color: beige;
    text-align: center;
    position:relative;
    margin-top:5em;
}
#projectheader h1{
    font-size: 2.5em;
}
#projects{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow:row wrap;
    justify-content: center;
    text-align: center;
}
.project{
    padding:12px;
}
.projectimage{
    background-color: white;
    width:30em;
    height:20em;
}
/* Medium screens */
@media all and (max-width: 950px) {
  .nav-bar {
    /* When on medium sized screens, we center it by evenly distributing empty space around items */
    justify-content: space-around;
  }
  .nav-button{
      padding: 1em;
  }
  #aboutwords{
      margin-right: 0;
  }
  #aboutimage{
      margin-left: 0;
  }
}
@media all and (max-width: 800px) {
    #aboutimage{
        margin-top:220px;
    }
     #selfie{
         width:15em;
         height:20em;
     }
    #aboutcontent p{
        padding:0.25em;
    }
}
/* Small screens */
@media all and (max-width: 540px) {
  #homepageheader{
      font-size: 2em;
  }
  .nav-button{
      padding:0.25em;
  }
}
@media all and (max-width: 400px) {
     li{
      float:none;
    /* On small screens, we are no longer using row direction but column */
  }
  .nav-button{
      padding: 0;
  }
}
